#header_aapning {
  color: white;
}

#aapent_ved_arrangement {
  color: white;
  text-transform: capitalize;
}

strong {
  font-weight: bold;
}

#footerComp {
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 10;
  margin: auto;
  background: url('../../../images/footer_bergen.png') no-repeat;
  background-color: #272727; // Tint color
  background-blend-mode: color-dodge;
  font-size: 1em;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#header_tittel {
  letter-spacing: 3px;

  text-transform: capitalize;
  color: white;
  font-family: 'Hegval Display';
  font-weight: lighter;
  padding-bottom: 5px;
}

#header_tittel_undertittel {
  letter-spacing: 2px;

  text-transform: capitalize;
  color: white;
  font-family: 'Hegval Display';
  font-weight: lighter;
}

#header_content {
  letter-spacing: 2px;

  color: #a9a8a8;
  font-family: 'Hegval Display';
  font-weight: lighter;
  text-transform: uppercase;
}

#copyright {
  color: #fc4945;
}

@media (min-width: 768) {
  body {
    font-size: 17px;
  }
  h1 {
    font-size: 24px;
  }
}
