/* a:hover {
  color: #F54B4B;
} */

a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

/* .active {
    color: #f54b4b;
    font-weight: bold;
  } */

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-weight: lighter;
}

h1 {
  font-size: 60px;
  font-weight: normal;
}
