:root {
  --primary-color: #F54B4B; 
  --light-color: white;
  --text-color: black;
}

.lightTheme {
  --light-color: black;
}

.clickup-embed {
  border: none !important;
}

html, body {
  overflow-x: hidden;
}

a.light {
  color: var(--light);
  text-decoration: none;
}
a.light:hover {
  text-decoration: underline;

}

.group-link {
  text-decoration: none;
}

img {
  transition: 0.2s;
}

p {
  font-size: 0.9285714285714286rem;
  font-family: Hegval Display;
  font-weight: 400;
  line-height: 1.5;
}