.imageContainer {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 160px;
    top: 0;
}

.imageContainer img {
    object-fit: cover;
}

.groupTitle {
    color: var(--primary-color);
}

.title {
    color: var(--primary-color);
    text-align: center;
}