.video {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 85vh;
  }
  
  .video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 85vh;
    transform: translate(-50%, -50%);
  }
  
  @media (min-aspect-ratio: 16/9) {
    .video video {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 60.25vw;
      width: 104vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video video {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
      height: 100vh;
    }
  }
  
.middleContainer h1, .middleContainer h2, .middleContainer h3, .bottomContainer h5 {
    color: var(--light-color);
}

.topContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    margin: auto;
    background-color: var(--primary-color);
}

.middleContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 16px;
}

.bottomContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    margin: auto;
    text-align: center;
    color: var(--light-color);
}

.button {
    color: var(--light-color) !important;
    border: 3px solid var(--light-color) !important;
    height: 100px !important;
    max-width: 550px !important;
}

.button:hover {
    background-color: var(--light-color) !important;
    color: var(--primary-color) !important;
}