html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #f54b4b;
  --primary-color-light: #f57878;
  --swiper-theme-color: white !important;
  --swiper-navigation-size: 32px !important;
  --light-color: white;
}

h1 {
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

.swiper-button-next {
  right: max(calc((100% - 1300px) / 2 - 30px), 40px) !important;
  
}

.swiper-button-prev {
  left: max(calc((100% - 1300px) / 2 - 30px), 40px) !important;
  padding: 10px;
}

.swiper-button-prev:after, .swiper-button-next:after {

  font-family: "Kvarteret Icons" !important;
  color: var(--primary-color);
  font-size: 24px !important;
  width: 23px;
  height: 23px;
  background: radial-gradient(white 0%, white 60%, transparent 70%);
}

.swiper-button-prev:after {
  content: '\e801' !important;
}
.swiper-button-next:after {
  content: '\e800' !important;
}
.swiper-button-prev:hover:after, .swiper-button-next:hover:after {
  color: var(--primary-color-light);
}

hr {
  display: block; height: 1px;
    border: 0; border-top: 2px solid #ddd;
    margin: 1.5em 0; padding: 0;
}