@font-face {
  font-family: 'Hegval Display';
  font-weight: 400;
  font-style: italic;
  src: url('./The\ Northern\ Block\ Ltd\ -\ Hegval\ Display\ Medium.otf')
    format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Hegval Display';
  font-weight: lighter;
  src: url('./The\ Northern\ Block\ Ltd\ -\ Hegval\ Display\ Light.otf')
    format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Hegval Display';
  font-style: normal;
  font-weight: 500;
  src: url('./The\ Northern\ Block\ Ltd\ -\ Hegval\ Display\ Regular.otf')
    format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Kvarteret Icons';
  src: url('./kvartereticons.eot?92915998#iefix') format('embedded-opentype'),
       url('./kvartereticons.woff2?92915998') format('woff2'),
       url('./kvartereticons.woff?92915998') format('woff'),
       url('./kvartereticons.ttf?92915998') format('truetype'),
       url('./kvartereticons.svg?92915998#kvartereticons') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Hegval Display', sans-serif;
}
