.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.SideDrawer.a {
  color: black;
}

.NavOpen {
  opacity: 1;
  z-index: 300000;
}

.NavClosed {
  opacity: 0;
}

.Logo {
  height: 50px;
  padding-left: 70px;
  padding-right: 80px;
}

.Arrow {
  height: 10px;
}

.ImageContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 10px gray;
  padding-bottom: 15px;
  padding-top: 15px;
}
.SearchContainer {
  text-align: center;
}

.Search {
  height: 35px;
  margin-top: 25px;
  box-shadow: 0 0 10px gray;
  width: 80%;
}

.Button {
}
