.header {
  display: flex;
  position: relative;
  justify-content: center;
  height: 300px;
  background-color: #282835;
  margin-bottom: 20px;
  padding-bottom: 400px;
}

#logo {
  /*filter: invert(91%) sepia(3%) saturate(1463%) hue-rotate(314deg) brightness(94%) contrast(112%);*/
  position: absolute;
  right: 100px;
  height: 300px;
  padding-top: 10px;
}
