.slick-prev:before,
.slick-next:before {
  color: #f54b4b;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 10px;
  color: lightgrey;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #f54b4b;
  opacity: 1;
}
