

#header_aapning {
    color: white;
  }

#aapent_ved_arrangement{
    color:white;
    text-transform: capitalize;
}


#footerComp{
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 10;
margin: auto;
  background-color: #272727;
}


#header_tittel{
  text-transform: capitalize;
  color:white;
}

#header_tittel_undertittel{
  text-transform: capitalize;
  color: white;
}

 #header_content{
   color:lightgray;
 }