@font-face {
  font-family: 'Hegval Display';
  font-weight: 400;
  font-style: italic;
  src: url('./The\ Northern\ Block\ Ltd\ -\ Hegval\ Display\ Medium.otf')
    format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Hegval Display';
  font-weight: lighter;
  src: url('./The\ Northern\ Block\ Ltd\ -\ Hegval\ Display\ Light.otf')
    format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Hegval Display';
  font-style: normal;
  font-weight: 500;
  src: url('./The\ Northern\ Block\ Ltd\ -\ Hegval\ Display\ Regular.otf')
    format('opentype');
  font-display: swap;
}

* {
  font-family: 'Hegval Display', sans-serif;
}
